<h2>Ajouter un Nouveau Badge</h2>

<form (ngSubmit)="saveBadge()">
  <label>Nom d'utilisateur:</label>
  <input type="text" [(ngModel)]="badge.username" name="username" required>

  <label>Prénom:</label>
  <input type="text" [(ngModel)]="badge.prenom" name="prenom" required>

  <label>Status:</label>
  <input type="text" [(ngModel)]="badge.status" name="status" required>

  <label>Type de Badge:</label>
  <input type="text" [(ngModel)]="badge.badgeType" name="badgeType">

  <label>URL de la Photo:</label>
  <input type="text" [(ngModel)]="badge.photoUrl" name="photoUrl">

  <button type="submit">Enregistrer</button>
</form>
