.form-container {
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    gap: 8px;
    max-width: 100px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: white;
  }
  
  input, select {
    padding: 4px;
    font-size: 12px;
  }
  
  button {
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 4px;
  }
  
  .list-container ul {
    list-style: none;
    padding: 0;
    max-width: 500px;
  }
  
  .list-container li {
    background-color: #222;
    color: white;
    padding: 6px;
    margin-bottom: 3px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
  }
  
  .permission-info {
    font-size: 13px;
    line-height: 1.3;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    gap: 4px;
    
  }
  
  .actions a, .actions button {
    font-size: 12px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .actions a:hover, .actions button:hover {
    color: #90ee90;
  }
  