<h2>Ajouter une Permission</h2>
<form (ngSubmit)="addPermission()">
  <label>Nom de la permission:</label>
  <input [(ngModel)]="newPermission.username" name="username" required>

  <label>Description:</label>
  <input [(ngModel)]="newPermission.description" name="description" required>

  <button type="submit">Ajouter</button>
</form>

<hr>

<h2>Liste des Permissions</h2>
<ul>
  <li *ngFor="let p of permissions">
    🔐 {{ p.username }} | 📄 {{ p.description }}
    <button (click)="p.id && deletePermission(p.id)">Supprimer</button>
  </li>
</ul>
