<h2>Ajouter un utilisateur</h2>
<form (ngSubmit)="addUser()" class="compact-form">
  <input
    type="email"
    name="email"
    [(ngModel)]="newUser.email"
    placeholder="Email"
    required
  />
  <input
    type="text"
    name="username"
    [(ngModel)]="newUser.username"
    placeholder="Nom d’utilisateur"
    required
  />
  <input
    type="password"
    name="password"
    [(ngModel)]="newUser.password"
    placeholder="Mot de passe"
    required
  />
  <button type="submit">Ajouter</button>
</form>

<hr />

<h2>Liste des utilisateurs</h2>
<div class="scrollable">
  <ul>
    <li *ngFor="let user of users" class="item">
      📧 {{ user.email }} |
      👤 {{ user.username }}
      <a [routerLink]="['/user/edit', user.id]">Modifier</a>
      <button (click)="deleteUser(user.id!)">Supprimer</button>
    </li>
  </ul>
</div>

<div class="paginator">
  <button (click)="prev()" [disabled]="currentPage === 0">Précédent</button>
  <span>Page {{ currentPage + 1 }} / {{ totalPages }}</span>
  <button (click)="next()" [disabled]="currentPage + 1 >= totalPages">Suivant</button>
</div>
